* {
    margin: 0;
    padding: 0;
}

body {
    font-family: serif;
    background-color: black;
    min-height: 100vh;
    
}

.nav {
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 2px solid white;
    background-color: #000000;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-inner {
    max-width: var(--maxw);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 10rem);
    font-weight: 500;
}

.logo-img {
    width: clamp(.5rem, 5vw, 10rem);
    height: auto;
    margin-left: 2vw;
}

.menu {
    display: flex;
    align-items: center;
    gap: clamp(0.75rem, 1vw, 1.5rem);
    list-style: none;
    padding-top: 1%;
}

.menu a {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size: clamp(.3rem, 1.2vw, 2rem);
    font-weight: 500;
    transition: 2s;
}

/* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
      border: none;
      outline: none;
      color: white;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #000000;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      font-size: 17px;
      float: none;
      color: rgb(255, 255, 255);
      padding: 1px;
      display: block;
      text-align: left;
      line-height: 2rem;
    }

    /* Add a red background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #E2272D;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

.menu a:hover {
    text-shadow: 0 0 10px white;
    text-decoration: underline;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    width: clamp(40px, 6vw, 45px);
    height: clamp(40px, 6vw, 45px);
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.06);
    cursor: pointer;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    position: relative;
    content: "";
    transition: transform 0.25s ease, top 0.25s ease, background 0.25s ease;
    transform-origin: center;
}

.hamburger span::before {
    position: absolute;
    top: -6px;
}

.hamburger span::after {
    position: absolute;
    top: 6px;
}

/* Responsive */

@media(max-width: 900px) {
    .brand {
        font-size: clamp(1rem, 4vw, 10rem);
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background: rgba(8, 10, 14, 0.9);
        backdrop-filter: blur(12px);
        max-height: 0;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease, ;
    }

    .menu li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        border-bottom: 1px solid #E2272D;
    }

    .menu li a {
        padding: 10px 0;
        font-size: clamp(.3rem, 4vw, 4rem);
    }

    .menu-toggle:checked~.menu {
        max-height: 100vh;
        height: 100vh;
        padding: 1.5rem 0;
        opacity: 1;
        pointer-events: auto;
    }

    .hamburger {
        display: flex;
    }

    .menu-toggle:checked~.hamburger span {
        background: transparent;
    }

    .menu-toggle:checked~.hamburger span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .menu-toggle:checked~.hamburger span::after {
        top: 0;
        transform: rotate(-45deg);

    }
}

/* Text Styles */

u {
  text-decoration-skip-ink: none;
}

#activeH {
    text-decoration: underline;
}

.text {
    color: white;

  span {
    color: #E2272D;
  }
}

/* Image slideshow */
.IC1{
  margin: auto 0;

  img {
    width: 100vw;
    height: auto;
  }
}

.IC2{
  margin: 2% 0;
  img {
    width: 100vw;
    height: auto;
  }
}

.imgcarousel{
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.imgcarousel::-webkit-scrollbar{
  display: none;
}

.imgcarousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: .5em;
  margin-bottom: 4vw;
}

.imgcard{
  margin-bottom: 1%;
  flex: 0 0 100%;
  border-radius: .5em;
  text-align: center;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.imgcard::scroll-marker {
  content: '';
  height: 1em;
  width: 1em;
  background-color: white;
  border-radius: 50%;
}

.imgcard::scroll-marker:target-current {
  background-color: #E2272D;
}

/* Portfolio */

.separator {
    color: white;
    font-size: 4rem;
    text-align: center;
    height: 0.5em;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 1em;
    margin-top: 1em;

    
  @media screen and (max-width: 600px) {
    font-size: 1.5em;
  }
}

.separator2 {
    color: white;
    font-size: clamp(1rem, 6vw, 4.5rem);
    text-align: center;
    height: 0.5em;
    margin-bottom: 1em;
}

.separator:first-line {
    background-color: rgb(0, 0, 0);
}
.separator:before {
    content: "__";
    color: rgb(0, 0, 0);
}
.separator:after {
    content: "__";
    color: rgb(0, 0, 0);
}

.PHV {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  overflow: hidden;
  margin: 1vw;
  
  
  iframe {
    width: 100%; 
    height: 47.917vw;
    border: none;
  }
}
.PVV {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly; 
  margin: 1vw; 
  gap: 1vw;
  iframe {
    width: clamp(1vw, 33vw, 100%);
    height: 47.917vw;
    overflow: hidden;
    border: none;
  }
}


.PV {
  display: flex;
  justify-content: space-evenly;
  color: white;
    font-size: clamp(1rem, 2rem, 2.2rem);
    text-align: center;
    list-style: none;
    position: relative;
}

.PV iframe{
  aspect-ratio: 16/9;
  width: 100vw;
  border: none;
}

.Brands {
    .carousel{
        width: clamp(25%, 100vw, 100%);
        border: none;
        display: flex;
        overflow-x: auto;
        pointer-events: none;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    .group{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        animation: slide 15s infinite linear;
        padding-right: 1em;
    }

    .card{
        flex: 0 0 5em;
        height: 5em;
        padding: 1em;
        background: none;
        font-size: 3rem;
        border-radius: .2em;
        text-align: center;
        align-content: center;
    }
}

/* spacers */

.spacer {
  padding: 5%;
}

.dotted hr{
    border: 1px dashed white;
    margin-bottom: 2%;
}

/* CONTACT FORM */
form {
    label {display: block;} padding-left: clamp(1rem, 20vw, 30rem); padding-right: clamp(1rem, 20vw, 30rem);

    input[type=email], [type=tel], [type=text], textarea, select {
        background-color: #dddddd; border-radius: .5rem;
        margin-bottom: 1.25rem; padding: 1rem;
        border: none; box-shadow: 0rem 0rem 0.375rem #ffffff, 0rem 0rem 0.5rem #1d1d1d;
        width: 100%;
        font-size: 1rem;
    }

    button {
        background-color: #ffffff; border-radius: .5rem;
        padding: 1rem; 
        border: none; box-shadow: 0rem 0rem 0.375rem #ffffff, 0rem 0rem 0.5rem #1d1d1d;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;;
    }
    button:hover {
        text-decoration: none; animation: glow2 1.5s infinite alternate;
    }

    .CB {
      display: flex;
      justify-content: center;
    }
}

.icon {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2em;
}

.CompanyStatement{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* FOOTER */
footer {
  color: white;
  margin: 1.5% .5vw;

.grid-container{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1.3fr .8fr;
  height: 10rem;
  gap: 1em;
}

.item{
  font-size: clamp(.2rem, 1.3vw, 2rem);
  margin-bottom: 2%;
  line-height: clamp(1.6rem, 2vw, 2rem);
  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }

.footer-title{
  font-size: clamp(.5rem, 1.1vw, 2rem);
}

.footer-description{
  font-style: italic;
  padding-left: 9%;
  font-size: clamp(.5rem, 1.1vw, 2rem);
  line-height: clamp(1.1rem, 2vw, 2rem);
  margin-bottom: auto;
}

.email{
  @media screen and (max-width: 600px) {
    font-size: .6rem;
  }
}

h3{
  font-family: lato, sans-serif;
  margin-bottom: 0%;
  font-size: clamp(.7rem, 1.1vw, 2rem);
}
p{
  font-size: clamp(.7rem, 1.1vw, 2rem);
  margin-top: 0%;
}
a{
  color: white;
  text-decoration: none;
}
.footer-icon{
  scale: 65%;
}
u{
  color: #E2272D;
  text-decoration: none;
}
}


}
.credits{
  font-size: clamp(.5rem, .6vw, 1rem);
  display: flex;
}

@keyframes glow2 {
    0% {
        box-shadow: 0rem 0rem 0.375rem #ffffff, 0rem 0rem 0.5rem #747474;
    }
    100% {
        box-shadow: 0rem 0rem 0.313rem #000000, 0rem 0rem 0.625rem #b8b8b8, 0rem 0rem 1.25rem #7e7e7e, 0rem 0rem 2.5rem #414141, 0rem 0rem 5rem #000000;
}}


/* OTHER PAGES */

/* NOTE */

.NOTE {
  padding-top: 2%;
  padding-bottom: 2%;
  height: auto;
  width: 100%;
  background-color:#3b3d3d;
}

.NOTE .separator2 {
  text-decoration: underline #E2272D 3px;
}

/* Company Introduction */

.grid-container-Bio {
  display: grid;
  grid-template-columns: 1fr 1.2fr;

  align-items: center;
}

.grid-item-Bio {
  margin: auto;

  p.left {
    margin-bottom: 2vw;
    margin-left: 0;
  }
}

.Bio-img img {
  width: 15vw;
  height: auto;
}

.separator, .separator2 {
  span {
    color: #E2272D;
  }
}

.but {
  box-shadow: none;
  text-decoration: none; animation: glow2 1.5s infinite alternate;
  padding: 0.521vw 7vw;
  font-size: clamp(1rem, 1vw, 2rem);
  }

/* Major Magic Content Business */

.grid-container, .grid-container-program {
  display: grid;
  grid-template-columns: repeat(3, clamp(4rem, 13.021vw, 14vw));
  grid-auto-rows: clamp(4rem, 13.021vw, 14vw);
  gap: clamp(1em, 3.333vw, 4em);
  margin: 2% auto;
  justify-content: center;
}

.grid-item {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 2vw;
}

.top, .bottom, .fluid, .content-text, .content-desc {
  position: absolute;
  width: 100%;
  height: 100%;

  color: white;
  font-weight: bold;
  font-size: clamp(.4rem, 1.3vw, 2rem);
  text-decoration: none;

  span {
    color: #E2272D;
  }
}

.content-desc {
  display: flex;
  flex-direction: column;
  justify-content: end;
  p {
  color: white;
  opacity: .8;
  background-color: black;
  text-wrap: wrap;
  font-weight: bolder;
  font-size: clamp(.4rem, 1.1vw, 2rem);
  padding-left: 5%;
  }
}

.content-text {
  margin: auto 1%;
  text-wrap: wrap;
}

.bottom:hover {
  transition: opacity 0.5s ease-in;
  opacity: 1;
  cursor: pointer;
}

.bottom:not(:hover){
  transition: opacity 0.5s ease-in;
  opacity: 0;
}

hr.section {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

.hrg {
    margin-left:45%;
    margin-right: 45%;
}

/* Artists */

.grid-container-artist {
  display: grid;
  grid-template-columns: repeat(4, clamp(4rem, 15.021vw, 16vw));
  grid-auto-rows: clamp(4rem, 15.021vw, 16vw);
  gap: clamp(1em, 3.333vw, 4em);
  margin: 2% auto;
  justify-content: center;
  margin-bottom: 10vw;

  h3 {
    font-size: clamp(.7rem, 2vw, 3rem);
    color: white;
    margin: 2%;
    text-align: center;
    font-weight: 100;
  }
}

/* Artist Profiles */

.page-container-artist {
  margin: 0 15%;

  hr {
    margin: 5% 0;
    border-color: rgb(109, 109, 109);
  }

  .text-title{
    letter-spacing: .3vw;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff
    
  }
}
.container-artist {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}

.profile-header {
  p{font-family: Arial, sans-serif; text-transform: uppercase;}
}

.artist-img {
  img {
    border-radius: 2%;
    width: 40vw;
    height: 40vw;
  }
}

.artist-desc {
   font-size: clamp(.6rem, 1.3vw, 2rem);
    text-align: center;
    color: white;
    line-height: 5vw;
    margin: 2% 0;

  span {
    color: #E2272D;
  }

  .left{
    text-align: left;
  }
}

.container-artist-images {
  display: flex;
  gap: 1vw;
  justify-content: space-between;
  margin: 2vw 0;
  flex-wrap: wrap;

  img {
    width: 15vw;
    height: auto;
  }
}

.container-artist-video {
  margin: 5% auto;
  iframe {
    width: 100%;
    height: 42.708vw;
    border: none;
  }
}
/* Program/quote */

#Program-Three-Shows {
    grid-template-columns: repeat(3, clamp(4rem, 22vw, 30vw));
    grid-auto-rows: clamp(4rem, 22vw, 30vw);
    margin-bottom: 5vw;
      p {
        font-size: clamp(.5rem, 1.4vw, 2rem);
        margin: 1vw;
    }
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 325px;
  overflow: hidden;
  margin: auto;
  @media (max-width: 650px) {
    margin-bottom: 4vw;
  }
}

.card img {
  width: 100%;
  height: auto;
  @media (max-width: 650px) {
   width: 50%;
   display: flex;
   margin: auto;
  }
}

.card-content {  
  text-align: center;
}

.card-content p.card-title {
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-top: 4%;
  margin-bottom: 4%;
  color: white;
}

.card-content p {
  font-size: clamp(.6rem, 1vw, 1.3rem);
  color: white;
  line-height: 1.7vw;
  @media (max-width: 650px) {
    font-size: clamp(.8rem, 2vw, 1.3rem);
    line-height: 6vw;
  }
}


/* Other programs */

.Three-shows {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;
}

.program {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.grid-program, .program-card {
  display: grid;
  justify-content: center;
}

.grid-program {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto-fill;
  gap: 1em;
  margin: 5% 0;
}

.grid-img {
  margin: auto;
  display: flex;

  img {
    width: clamp(5rem, 15vw, 50rem);
    height: auto;
  }
}

.grid-program-text {
  margin: 0 5%;
  color: white;
  text-align: center;
  font-size: clamp(.8rem, 1vw, 2rem);
  line-height: 2rem;
  margin-bottom: 2vw;
}

.grid-button {
    border-style: solid;
    border-color: white;
    padding: 1% 10%;
    animation: glow2 5s infinite alternate;
    margin: auto;
    cursor: pointer;
    text-align: center;

    a {
      background-color: transparent;
      box-sizing: border-box;
      color: #FFFFFF;
      text-decoration: none;
      font-size: clamp(.5rem, 1vw, 2rem);
    }
}

/* UNIVERSAL TEXT STYLES */

.text-title {
    font-size: clamp(1rem, 2vw, 6rem);
    text-align: center;
    color: white;
    line-height: 3.5rem;
    margin: 2% 0;

  span {
    color: #E2272D;
  }

  .left{
    text-align: left;
  }
}

.text-content {
  p {
    color: white;
    text-align: center;
    font-size: clamp(.8rem, 1.4vw, 2rem);
    line-height: clamp(1rem, 5vw, 3.2rem);
    margin: 0% 2%;
  }

  span {
    color: #E2272D;
  }

  .left{
    text-align: left;
  }
}
